/* Capa de fondo */
.loader-overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* El círculo que gira */
.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid var(--main-color); /* Usamos tu color principal */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-overlay p {
    font-family: 'Segoe UI', sans-serif;
    color: var(--main-color);
    font-weight: 600;
}